.painel {
    display: grid;
    margin-top: 59px;
    border: solid #183474 1px;
    border-left: none;
    background-color: #183474;
    border-radius: 0 10px 10px 0;
    width: 6%;
    height: 1000px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: width 0.3s ease, z-index 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}

.painel:hover {
    width: 15%;
    z-index: 100;
}

.painel-content {
    margin-left: 15%;
    margin-top: 110px;
}

.painel-content-perfil {
    margin-top: -50px;
    display: flex;
    height: 210px;
}

.painel-content-logout {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    height: 210px;
}

.perfil {
    display: flex;
    align-items: center;
    margin-top: 70px;
    margin-left: 20px;
}

#foto {
    margin: 5px;
    height: 50px;
    width: auto;
    border-radius: 50%;
}

.nome {
    display: none;
    color: white;
    margin-left: 10px;
}

.painel:hover .nome {
    display: block;
    transition: opacity 0.3s ease;
}

.dashboard-icon {
    display: grid;
    margin-top: 25px;
    margin-left: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    width: 35px;
    height: 35px;
}

.dashboard-content {
    display: flex;
    align-items: center;
}

.dashboard-name {
    display: none;
    color: white;
    margin-left: 70px;
    margin-top: -25px;
}

.painel:hover .dashboard-name,
.painel-content:hover .dashboard-name {
    display: block;
    transition: opacity 0.3s ease;
}

.user-icon {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-top: -50px;
    cursor: pointer;
    font-size: 16px;
}

.user-name {
    display: none;
    color: white;
    margin-left: 15px;
    margin-top: -100px;
}

.painel:hover .user-name {
    display: block;
    transition: opacity 0.3s ease;
}

.user-icon i {
    color: white;
    font-size: 20px;
    margin-left: 15px;
    margin-top: -100px;
}
